PROJECT_NAME=INTEGRATOR

REDIS_HOST=integrator_redis
REDIS_PORT=6379
REDIS_PASSWORD=password123

POSTGRES_HOST=integrator_db
POSTGRES_PORT=5432
POSTGRES_PASSWORD=yandex01
POSTGRES_USER=postgres
POSTGRES_DB=integrator

SERVICE_PROTOCOL=http
SERVICE_HOST=integrator_fastapi
SERVICE_PORT=8000
SERVICE_API_VERSION=1

NGINX_PORT=80
